*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    overflow: hidden;
    background-color: rgb(8, 8, 8);
}








/* -----SANTOS------ */


#cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  
    position: absolute;
    
    

    
  
}

.container{
    padding-top: 90px;
    position: relative;
    width: 280px;
    height: 420px;
      

}

.container:hover .flip{
    transform: rotateY(180deg);
}


 
.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .6s;
}

.frente, .tras {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.274);
    backface-visibility: hidden;
}

.frente{
    background-size: cover;
}

.frente img{
    width: 280px;
    height: 420px;
    border-radius: 20px;
}

.tras{
    background-color: rgb(187, 138, 32);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    gap: 60px;
}


